@model IEnumerable<MyASPProject.Models.Enrollment> //declare model yang di return dari controller 
@{

}

@{
    ViewData["Title"] = "Student Detail";
}

<h1>Detail Student</h1>  <!-- JUDUL PAGE -->
@if (Model.Count() == 0) 
{
    <div class='alert alert-success alert-dismissible fade show'><button type='button' class='btn-close' data-bs-dismiss='alert'></button> Data tidak ditemumkan</div>
}
else 
{
    <table class="table">   <!-- BATAS AWAL TABLE -->
    <thead>   <!-- BATAS AWAL HEADER TABLE -->
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName) <!-- JUDUL ROW 3  -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseTitle) <!-- JUDUL ROW 4  -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade) <!-- JUDUL ROW 2  -->
            </th>
            <th></th>   <!-- ROW 5 TANPA JUDUL  -->
        </tr>
    </thead> <!-- BATAS AKHIR HEADER TABLE -->
    <tbody> <!-- BATAS AWAL BODY TABLE -->
    @foreach (var item in Model) {      <!-- LOOPING DATA COURSE -->                      
        <tr>
                <td>
                @Html.DisplayFor(modelItem => item.StudentName)  <!-- MENAMPILKAN DATA TITLE -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseTitle)  <!-- MENAMPILKAN DATA CREDITS -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)  <!-- MENAMPILKAN DATA TITLE -->
            </td>
        </tr>
    }

    </tbody>  <!-- BATAS AKHIR BODY TABLE -->
    </table>   <!-- BATAS AKHIR TABLE  -->

}        