@model IEnumerable<MyASPProject.Models.Samurai>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-4">Daftar Samurai</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Daftar Samurai</li>
</ol>

<div class="card mb-4">
    <div class="card-body">
        <div class="col-md-6">
            <div>
                @if (ViewData["pesan"] != null)
                {
                    @Html.Raw(ViewData["pesan"])
                }
            </div>
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <p>
                <form asp-action="Index" method="get">
                    Masukan Nama:
                    <input name="name" type="text" placeholder="masukan nama" />
                    <input type="submit" value="Submit"  class="btn btn-primary" />
                </form>
            </p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm" asp-action="Update"
                               asp-route-id="@item.Id">update</a> &nbsp; &nbsp;
                                <a class="btn btn-primary btn-sm" asp-action="Details"
                               asp-route-id="@item.Id">details</a> &nbsp;
                                <a class="btn btn-danger btn-sm" asp-action="Delete"
                               asp-route-id="@item.Id">delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



